body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*HeaderBar*/
.trigger {
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
}

.trigger:hover {
    color: #1890ff;
}

.header-ul {
    display: flex;
    width: 200px;
}

.header-ul li {
    flex-grow: 1;
    text-align: center;
}

.header-ul>li img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.menu {
    line-height: 2em;
    padding: 0 10px;
}

.menu-group li {
    padding: 0 24px;
    line-height: 2em;
}

#page .card-item {
    margin-bottom: 10px;
    border-radius: 3px;
    line-height: 2em;
}

#page .card-ul {
    list-style: inside circle;
}

/*GalleryDemo*/
.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.aspect--1x2 {
    padding-bottom: calc(112.5% + 8px);
}

.aspect--1x1 {
    padding-bottom: 56.25%;
    /*padding的百分比是按父级的width计算的*/
}

.aspect--2x1 {
    padding-bottom: 28.125%;
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ant-modal {
    top: 0;
}

/*美化webkit内核滚动条*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
}

/*更改antd的primary button样式*/
.ant-btn-primary {
    background: #55B4AE;
    border-color: #55B4AE;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
    background: #55B4AE;
    border-color: #55B4AE;
}

/*设置菜单样式*/
.ant-menu,
.ant-menu-sub,
.ant-menu-inline {
    color: #262626;
    background-color: #ffffff !important;
}

/*设置子菜单展开样式*/
.ant-menu-submenu>.ant-menu {
    background-color: #ffffff !important;
}

.ant-menu-submenu-title {
    color: #262626 !important;
}

/*去掉右边框*/
.ant-menu-inline {
    border: none;
    margin: 0px;
}

/*设置 a 链接样式*/
.ant-menu-item a {
    color: #262626 !important;
}

.ant-menu-item a:hover {
    color: #55B4AE !important;

}

.ant-menu-item a:active:before {
    color: #55B4AE !important;

}

.ant-menu-item a:active:after {
    color: #55B4AE !important;

}

/*下拉箭头样式*/
.ant-menu-submenu-arrow {
    color: black !important;
}

/*菜单收缩样式*/
.ant-menu.ant-menu-inline-collapsed {
    width: 60px;
}

/*设置收缩后的右边框*/
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border-right: none;
}

.ant-layout-sider-trigger {
    background-color: #55B4AE !important;
    border: 0px 0px 0px 0px;
}

/*选中菜单状态*/
.ant-menu-item-selected {
    background-color: #55B4AE !important;
    color: white !important;
}

.ant-menu-item-selected {
    background-color: #55B4AE !important;
    color: white !important;
}


.ant-menu-inline .ant-menu-selected:after,
.ant-menu-inline .ant-menu-item-selected:after {
    opacity: 0;
}


/* 设置未选中菜单项鼠标滑过样式*/
.ant-menu-item-active {
    background-color: #fff !important;
    color: #666666 !important;
}