.ant-btn-primary {
    background: #55B4AE;
    border-color: #55B4AE;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
    background: #55B4AE;
    border-color: #55B4AE;
}

.ant-switch-checked{
    background-color: #55B4AE;
}

.ant-menu-inline .ant-menu-selected:after,
.ant-menu-inline .ant-menu-item-selected:after {
    border-right:0px solid #55B4AE;
}

.ant-pagination-item-active {
    border-color: #55B4AE;
}

.ant-pagination-item-active a {
    color: #55B4AE;
}
