.ant-steps-item-process .ant-steps-item-icon {
    background: #55B4AE;
    border: #55B4AE;
}

.ant-steps-item-finish .ant-steps-item-icon {
    border-color: #55B4AE;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: #55B4AE;
}

.ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title:after {
    background-color: #55B4AE;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #55B4AE;
    border-color: #55B4AE;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #55B4AE;
}

.ant-radio-inner:after {
    background-color: #55B4AE;
}

.ant-pagination-item-active {
    border-color: #55B4AE;
}

.ant-pagination-item-active a {
    color: #55B4AE;
}