.events {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
}

.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}

.notes-month {
    text-align: center;
    font-size: 28px;
}

.notes-month section {
    font-size: 28px;
}

.ant-pagination-item-active {
    border-color: #55B4AE;
}

.ant-pagination-item-active a {
    color: #55B4AE;
}